{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'todo/styles.css' %}">

<html>
<head>
<title>To Do List </title>
</head>
<body>
<div class="box" id="heading">
<h1>{{kindOfDay}}!</h1>
</div>

<div class="box">
{% for i in newListItems %}
  <div class="item">
    <input type="checkbox" \>
    <p>{{ i }}</p>
    <a href="{% url 'todo:delete_item' i %}">X</a>
  </div>
{% endfor %}

<form class= "item" action="" method="post">
{% csrf_token %}
<input type="text" name="newItem" placeholder="New Item">
<button type="submit" name="button">+</button>
</form>
</div>

</body>
</html>
